<!DOCTYPE html>
<html lang="en">
  <head>
    <title>eChange</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">    
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <!--Main React Root-->
    <div id="root">
      <% if (reactMarkup) { %>
        <%- reactMarkup %>
      <% } else { %>
        <div class="loadingPage">
          <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
          <h2>Loading eChange Website</h2>
          <h4>Please Wait...</h4>
        </div>
      <script src="/build/bundle.js"></script>    
      <% } %>
    </div>

    <script src="/build/bundle.js"></script>
  </body>
</html>
