@import url('bootstrap-social.css');

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: linen;
}

div {
  display: block;
}

a {
  color: #00B7FF;
}

.loadingPage {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer {
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #f5f5f5;
    text-align: center;
    position: fixed;
}

.greenC {
  color: green;
}
.redC {
  color: red;
}

.jumboHome {
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  text-align: center;
  min-height: 50% !important;
  color: whitesmoke;
}
.jumboHome h2 {
  color: white !important;
}

.isCenter {
  text-align: center;
}